<!--
	BootstrapperApplication - https://docs.firegiant.com/wix/schema/wxs/bootstrapperapplication
	Bundle - https://docs.firegiant.com/wix/schema/wxs/bundle
	Chain - https://docs.firegiant.com/wix/schema/wxs/chain
	MsiPackage - https://docs.firegiant.com/wix/schema/wxs/msipackage
	Wix - https://docs.firegiant.com/wix/schema/wxs/wix
	WixStandardBootstrapperApplication - https://docs.firegiant.com/wix/tools/burn/wixstdba
-->

<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
	<Bundle
		IconSourceFile="$(AppIconPath)"
		Id="$(AppNameAsOneWord).Bundle"
		Manufacturer="$(Manufacturer)"
		Name="$(AppNameAsOneWord)"
		UpgradeCode="2FDD5C1E-392E-4B5A-8454-D4D6D35E7B0D"
		Version="$(AppVersion)">
		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication
				LicenseUrl="https://www.example.com/license"
				LogoFile="$(AppIconPath)"
				Theme="hyperlinkLicense" />
		</BootstrapperApplication>

		<Chain>
			<MsiPackage
				bal:DisplayInternalUICondition="1"
				Compressed="true"
				Id="AppMsiInstaller"
				SourceFile="$(OutputPath)\$(MsiOutputName).msi"
				Visible="true"
				Vital="true" />
		</Chain>
	</Bundle>
</Wix>
