<!--
	BootstrapperApplication - https://docs.firegiant.com/wix/schema/wxs/bootstrapperapplication
	Bundle - https://docs.firegiant.com/wix/schema/wxs/bundle
	Chain - https://docs.firegiant.com/wix/schema/wxs/chain
	DotNetCoreSearch - https://docs.firegiant.com/wix/schema/netfx/dotnetcoresearch
	ExePackage - https://docs.firegiant.com/wix/schema/wxs/exepackage
	ExePackagePayload - https://docs.firegiant.com/wix/schema/wxs/exepackagepayload
	Fragment - https://docs.firegiant.com/wix/schema/wxs/fragment
	MsiPackage - https://docs.firegiant.com/wix/schema/wxs/msipackage
	PackageGroup - https://docs.firegiant.com/wix/schema/wxs/packagegroup
	PackageGroupRef - https://docs.firegiant.com/wix/schema/wxs/packagegroupref
	Wix - https://docs.firegiant.com/wix/schema/wxs/wix
	WixStandardBootstrapperApplication - https://docs.firegiant.com/wix/tools/burn/wixstdba
-->

<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
	xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Bundle
		DisableModify="yes"
		IconSourceFile="$(AppIconPath)"
		Id="$(AppNameAsOneWord).Bundle"
		Manufacturer="$(Manufacturer)"
		Name="$(MsiOutputName)-Bundle"
		UpgradeCode="2FDD5C1E-392E-4B5A-8454-D4D6D35E7B0D"
		Version="$(AppVersion)">
		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication
				LicenseUrl=""
				LogoFile="$(AppIconPath)"
				SuppressOptionsUI="yes"
				SuppressRepair="yes"
				Theme="hyperlinkLicense"
				ThemeFile="Themes/HyperlinkTheme.xml" />

			<Payload
				Compressed="yes"
				Name="$(LCID)\thm.wxl"
				SourceFile="Localizations/HyperlinkTheme.$(SetupCulture).wxl"/>
		</BootstrapperApplication>

		<Chain>
			<PackageGroupRef Id="NetRuntimeRedist" />

			<MsiPackage
				bal:DisplayInternalUICondition="1"
				Compressed="yes"
				Id="AppMsiInstaller"
				Permanent="yes"
				SourceFile="$(OutputPath)\$(MsiOutputName).msi"
				Visible="yes" />
		</Chain>
	</Bundle>

	<Fragment>
		<netfx:DotNetCoreSearch
			MajorVersion="10"
			Platform="x64"
			RuntimeType="desktop"
			Variable="NetCoreRuntimeVersion" />

		<PackageGroup Id="NetRuntimeRedist">
			<ExePackage
				Cache="keep"
				DetectCondition="NetCoreRuntimeVersion >= v10.0.5"
				DisplayName=".NET 10.0 Desktop Runtime (v10.0.5) - Windows x64"
				Id="NetRuntimeRedist"
				InstallArguments="/norestart /quiet"
				PerMachine="yes"
				Permanent="yes"
				Vital="yes">

				<!-- https://dotnet.microsoft.com/en-us/download/dotnet/10.0 -->
				<ExePackagePayload
					Description=".NET 10.0 Desktop Runtime (v10.0.5) - Windows x64"
					DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/10.0.5/windowsdesktop-runtime-10.0.5-win-x64.exe"
					Hash="cbb1ad53aecc54264488cc5c0be938991770750209cf4acd383bbe8af57db679f4d5988e6281a6d6a46b4e141db3d3d539ea764250b4ab48871972a610944b40"
					Name="windowsdesktop-runtime-10.0.5-win-x64.exe"
					ProductName=".NET 10.0 Desktop Runtime (v10.0.5) - Windows x64"
					Size="60082160"
					Version="10.0.5" />
			</ExePackage>
		</PackageGroup>
	</Fragment>
</Wix>
