<!--
	Component - https://docs.firegiant.com/wix/schema/wxs/component
	ComponentGroup - https://docs.firegiant.com/wix/schema/wxs/componentgroup
	File - https://docs.firegiant.com/wix/schema/wxs/file
	Files - https://docs.firegiant.com/wix/schema/wxs/files
	Fragment - https://docs.firegiant.com/wix/schema/wxs/fragment
	RegistryValue - https://docs.firegiant.com/wix/schema/wxs/registryvalue
	RemoveFolder - https://docs.firegiant.com/wix/schema/wxs/removefolder
	Shortcut - https://docs.firegiant.com/wix/schema/wxs/shortcut
	Wix - https://docs.firegiant.com/wix/schema/wxs/wix
-->

<?include Predefines.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="Components"
						Directory="INSTALLFOLDER">
			<Component Guid="$(var.ProductComponentGUID)">

				<!--
					The file represented by this component.
					
					The file's location is used as the key path.  If the key
					path is not present, the component is considered as not
					being installed; otherwise, if the key path is present, the
					installer performs an upgrade, repair, or remove.
					
					Note: During uninstall, the file is removed by the Windows
					Installer.  In addition, the file's parent directories are
					removed so long as the parent directories are empty.  There
					is no need to explicitly remove the installation directory
					in this case.
				-->
				<File Id="AppExe"
					  Name="$(var.AppName).exe"
					  Source="$(var.DotNetPublishPath)\"
					  KeyPath="yes"
					  Checksum="yes" />
			</Component>

			<!--
				Include all other files and folders.
			-->
			<Files Include="!(bindpath.$(var.SourceProjectName))\Publish\**">
				<Exclude Files="!(bindpath.$(var.SourceProjectName))\Publish\$(var.AppName).exe" />
			</Files>

			<Component Id="Shortcuts"
					   Directory="ApplicationProgramsFolder">

				<!-- Start Menu shortcut to run the program. -->
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Advertise="no"
						  Icon="AppIcon"
						  Name="$(var.FullName)"
						  Description="Launch $(var.FullName) application"
						  Target="[!AppExe]"
						  Arguments="--pause"
						  WorkingDirectory="INSTALLFOLDER" />

				<!-- Start Menu shortcut to uninstall the program. -->
				<Shortcut Id="UninstallProduct"
						  Advertise="no"
						  Icon="AppIcon"
						  Name="$(var.FullName) uninstall"
						  Description="Uninstalls $(var.FullName)"
						  Target="[System64Folder]msiexec.exe"
						  Arguments="/x [ProductCode]" />

				<!--
					Define the key path for the parent component.  If the key
					path is not present, the component is considered as not
					being installed; otherwise, if the key path is present, the
					installer performs an upgrade, repair, or remove.
					
					Shortcuts require a registry-based key path; the
					application's own path can be a key path but that key path
					cannot be used with shortcuts.

					Note: A key path must be unique across all components.
				-->
				<RegistryValue Root="HKCU"
							   Key="Software\$(var.Manufacturer)\$(var.FullName)"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />

				<!--
					Start Menu folder to remove during uninstall.  This removes
					the shortcuts.  For shortcuts, the remove folder step must
					be explicitly given, unlike components that contain
					explicit files.
				-->
				<RemoveFolder Id="ApplicationProgramsFolder"
							  On="uninstall" />
			</Component>

			<Component Directory="DesktopFolder"
					   Condition="ADDDESKTOPSHORTCUT">
				<!--
					Desktop shortcut to run the program.
				-->
				<Shortcut Id="ApplicationDesktopShortcut"
						  Directory="DesktopFolder"
						  Advertise="no"
						  Icon="AppIcon"
						  Name="$(var.FullName)"
						  Description="Launch $(var.FullName) application"
						  Target="[!AppExe]"
						  Arguments="--pause"
						  WorkingDirectory="INSTALLFOLDER" />
				
				<RegistryValue Root="HKCU"
							   Key="Software\$(var.Manufacturer)\$(var.FullName)"
							   Name="shortcut_installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
