<!--
	Component - https://docs.firegiant.com/wix/schema/wxs/component
	ComponentGroup - https://docs.firegiant.com/wix/schema/wxs/componentgroup
	File - https://docs.firegiant.com/wix/schema/wxs/file
	Fragment - https://docs.firegiant.com/wix/schema/wxs/fragment
	RegistryValue - https://docs.firegiant.com/wix/schema/wxs/registryvalue
	RemoveFolder - https://docs.firegiant.com/wix/schema/wxs/removefolder
	Shortcut - https://docs.firegiant.com/wix/schema/wxs/shortcut
	Wix - https://docs.firegiant.com/wix/schema/wxs/wix
-->

<?include Predefines.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="Components"
						Directory="INSTALLFOLDER">
			<Component Guid="$(var.ProductComponentGUID)">
				<File Id="DataOrganizerAppExe"
					  Name="DataOrganizer.exe"
					  Source="$(var.DataOrganizer.Desktop.TargetDir)\Publish\"
					  KeyPath="yes"
					  Checksum="yes" />
			</Component>

			<Files Include="!(bindpath.DataOrganizer.Desktop)\Publish\**">
				<Exclude Files="!(bindpath.DataOrganizer.Desktop)\Publish\DataOrganizer.exe"></Exclude>
			</Files>

			<Component Id="Shortcuts"
					   Directory="ApplicationProgramsFolder">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Advertise="no"
						  Icon="AppIcon"
						  Name="$(var.Name)"
						  Description="Launch $(var.Name) application"
						  Target="[!DataOrganizerAppExe]"
						  Arguments="--pause"
						  WorkingDirectory="INSTALLFOLDER" />

				<Shortcut Id="UninstallProduct"
						  Advertise="no"
						  Icon="AppIcon"
						  Name="$(var.Name) uninstall"
						  Description="Uninstalls $(var.Name)"
						  Target="[System64Folder]msiexec.exe"
						  Arguments="/x [ProductCode]" />

				<RegistryValue Root="HKCU"
							   Key="Software\$(var.Manufacturer)\$(var.Name)"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />

				<RemoveFolder Id="ApplicationProgramsFolder"
							  On="uninstall" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
