<!--
	Directory - https://docs.firegiant.com/wix/schema/wxs/directory
	Fragment - https://docs.firegiant.com/wix/schema/wxs/fragment
	StandardDirectory - https://docs.firegiant.com/wix/schema/wxs/standarddirectory
	Wix - https://docs.firegiant.com/wix/schema/wxs/wix
-->

<?include Predefines.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER"
					   Name="$(var.InstallFolderName)" />
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder"
					   Name="$(var.StartupMenuName)" />
		</StandardDirectory>
	</Fragment>
</Wix>
