<!--
	ComponentGroupRef - https://docs.firegiant.com/wix/schema/wxs/componentgroup
	Feature - https://docs.firegiant.com/wix/schema/wxs/feature
	Icon - https://docs.firegiant.com/wix/schema/wxs/icon
	MajorUpgrade - https://docs.firegiant.com/wix/schema/wxs/majorupgrade
	Media - https://docs.firegiant.com/wix/schema/wxs/media
	Package - https://docs.firegiant.com/wix/schema/wxs/package
	Property - https://docs.firegiant.com/wix/schema/wxs/property
	UIRef - https://docs.firegiant.com/wix/schema/wxs/uiref
	Wix - https://docs.firegiant.com/wix/schema/wxs/wix
	WixUI - https://docs.firegiant.com/wix/schema/ui/wixui
-->

<!--
	Dialogs:
	https://docs.firegiant.com/wix/tools/wixext/wixui
-->

<?include Predefines.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="$(var.PackageName)"
			 Manufacturer="$(var.Manufacturer)"
			 Version="$(var.ProductVersion)"
			 UpgradeCode="$(var.UpgradeCode)">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<!--
			This makes sure the .cab file is embedded in the .msi file;
			otherwise, the .cab file is external and must be moved around with
			the .msi file.
		-->
		<Media Id="1"
			   Cabinet="App.cab"
			   EmbedCab="yes" />

		<!--
			Set the overall type of install dialog that WiX will use as a
			template.  Requires the WiX.Toolset.ui.wixext package reference to
			be in place to build successfully.
		-->
		<ui:WixUI Id="WixUI_InstallDir_CustomVerifyDlg"
				  InstallDirectory="INSTALLFOLDER" />
		
		<!--<ui:WixUI Id="WixUI_InstallDir"
				  InstallDirectory="INSTALLFOLDER" />-->

		<!-- Add a reference to all the messages produced by the installer. -->
		<UIRef Id="WixUI_ErrorProgressText" />

		<!-- Automatically select acceptance of license -->
		<Property Id="LicenseAccepted"
				  Value="1" />

		<!-- Automatically select checkbox to enable creating a desktop shortcut -->
		<Property Id="ADDDESKTOPSHORTCUT"
				  Value="1" />

		<!--
			A license rtf file.
		-->
		<WixVariable Id="WixUILicenseRtf"
					 Value="LICENSE.rtf" />

		<!--
			Add Icon and ARPPRODUCTICON (the installer icon). 
			Note: ARPPRODUCTICON = Add/Remove Program Product Icon
			This icon is visible in the Windows Apps and Features list.
		-->
		<Icon Id="AppIcon"
			  SourceFile="$(var.IconPath)" />

		<Property Id="ARPPRODUCTICON"
				  Value="AppIcon" />

		<!--
			Implement a checkbox that appears on the last page of the installer
			Wizard that, when checked, launches the newly-installed application.
		-->
		<?include LaunchAppOnExit.wxi ?>

		<!--
			The main feature cannot be optional (AllowAbsent="no") and is always installed.
		-->
		<Feature Id="Main"
				 Title="$(var.AppName) Application"
				 AllowAbsent="no"
				 ConfigurableDirectory="INSTALLFOLDER"
				 AllowAdvertise="no"
				 Description="The core elements that must be installed">
			<ComponentGroupRef Id="Components" />
		</Feature>
	</Package>
</Wix>
