<!--
	ComponentGroupRef - https://docs.firegiant.com/wix/schema/wxs/componentgroup
	Feature - https://docs.firegiant.com/wix/schema/wxs/feature
	MajorUpgrade - https://docs.firegiant.com/wix/schema/wxs/majorupgrade
	Package - https://docs.firegiant.com/wix/schema/wxs/package
	Wix - https://docs.firegiant.com/wix/schema/wxs/wix
-->

<?include Predefines.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(var.PackageName)"
			 Manufacturer="$(var.Manufacturer)"
			 Version="$(var.ProductVersion)"
			 UpgradeCode="$(var.UpgradeCode)">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<ComponentGroupRef Id="Components" />
		</Feature>

		<Icon Id="AppIcon"
			  SourceFile="..\DataOrganizer\Assets\Logo.ico" />
	</Package>
</Wix>
